body {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
}
.seguimiento {
    font-size: 1rem;
}
.bulto {
    font-size: 0.8rem;
}
.status {
    font-size: 0.9rem;
}
.navegacion {
    border-radius: 0.2rem;
}
.last{
    font-size: 0.7rem;
}
.but {
    border: none;
    background: none;
}
.icon {
    color: #343a40;
}
.imgWeb {
    height: 50px;
}
.label {
    font-size: 0.7rem;
    color: #a0a0a0;
}
.ref {
    font-size: 0.7rem;
    color: #a0a0a0;
    font-weight: 600;
}